##################################################
# Product DC114S Config file
# Autor : 
# Date : 2018-8-22
# Copyright (c) 2018 DOOYA Inc.
##################################################

#DT72 config
CONFIG_PRODUCT=\"DC114S\"


CONFIG_FACTORY=\"Connector\"

CONFIG_VERSION=\"0.1.7\"

CONFIG_CHANNEL_CODE=\"6b05985c-6be7-439b-8f6b-9e0011452110\"


CONFIG_SINGLE_DEVICE=y


CONFIG_DEVICE_TYPE=\"22000005\"

#MQTT server
MQTT_DOMAIN_NAME=\"connectoreu.dooya.com\"
MQTT_PORT_SLL=3453
MQTT_PORT_NOSLL=3000
CONFIG_MQTT_CLIENT_SSL_ENABLE=y
CONFIG_MQTT_CA_EU=y





#TODO
