ifneq ($(project), )
product_config := $(addprefix product/$(project)/, $(join $(project), .config))

include $(product_config)


ifneq ($(CONFIG_DEVICE_TYPE), )
	GLOBAL_DEFINES += CONFIG_DEVICE_TYPE=$(CONFIG_DEVICE_TYPE)
endif



ifeq ($(CONFIG_SINGLE_DEVICE), y)
	GLOBAL_DEFINES += CONFIG_SINGLE_DEVICE
endif

ifeq ($(CONFIG_HUB_DEVICE), y)
	GLOBAL_DEFINES += CONFIG_HUB_DEVICE
endif


ifneq ($(CONFIG_PRODUCT), )
	GLOBAL_DEFINES += CONFIG_PRODUCT=$(CONFIG_PRODUCT)
endif


ifneq ($(CONFIG_VERSION), )
	GLOBAL_DEFINES += CONFIG_VERSION=$(CONFIG_VERSION)
endif

ifneq ($(CONFIG_FACTORY), )
	GLOBAL_DEFINES += CONFIG_FACTORY=$(CONFIG_FACTORY)
endif


ifneq ($(CONFIG_CHANNEL_CODE), )
	GLOBAL_DEFINES += CONFIG_CHANNEL_CODE=$(CONFIG_CHANNEL_CODE)
endif

endif


ifeq ($(CONFIG_LOCAL_CONTROL_SUPPORT), y)
	GLOBAL_DEFINES += CONFIG_LOCAL_CONTROL_SUPPORT
endif


#MQTT server
ifneq ($(MQTT_PORT_SLL), )
	GLOBAL_DEFINES += MQTT_PORT_SLL=$(MQTT_PORT_SLL)
endif

ifeq ($(CONFIG_MQTT_CA_CN), y)
	GLOBAL_DEFINES += CONFIG_MQTT_CA_CN
endif

ifeq ($(CONFIG_MQTT_CA_EU), y)
	GLOBAL_DEFINES += CONFIG_MQTT_CA_EU
endif


ifneq ($(MQTT_DOMAIN_NAME), )
	GLOBAL_DEFINES += MQTT_DOMAIN_NAME=$(MQTT_DOMAIN_NAME)
endif



ifneq ($(OTA_SERVER_DOMAIN), )
	GLOBAL_DEFINES += OTA_SERVER_DOMAIN=$(OTA_SERVER_DOMAIN)
endif